.sp-thongbao {
  color: red;
  margin-left: 2px;
  display: block;
}

#SapXepGiam {
  display: none;
}

#content {
  width: 100%;
  background: #74ebd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #acb6e5,
    #74ebd5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #acb6e5,
    #74ebd5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.myCardHeader,
.myCardFooter {
  background-color: transparent;
}

#featureModal p {
  color: black;
}
#featureModal #pResultFeature {
  color: green;
  font-weight: 600;
}
.btn {
  color: black;
}
.btn:hover {
  color: white;
}
.btn:disabled {
  color: black;
}


.navbar-brand {
  font-weight: 700;
  font-size: 30px;
}
